:root {
	--text-50: hsl(240, 8%, 95%);
	--text-100: hsl(240, 6%, 90%);
	--text-200: hsl(240, 6%, 80%);
	--text-300: hsl(240, 6%, 70%);
	--text-400: hsl(240, 6%, 60%);
	--text-500: hsl(240, 6%, 50%);
	--text-600: hsl(240, 6%, 40%);
	--text-700: hsl(240, 6%, 30%);
	--text-800: hsl(240, 6%, 20%);
	--text-900: hsl(240, 6%, 10%);
	--text-950: hsl(240, 8%, 5%);

	--background-50: hsl(240, 4%, 95%);
	--background-100: hsl(240, 2%, 90%);
	--background-200: hsl(240, 2%, 80%);
	--background-300: hsl(240, 2%, 70%);
	--background-400: hsl(240, 2%, 60%);
	--background-500: hsl(240, 2%, 50%);
	--background-600: hsl(240, 2%, 40%);
	--background-700: hsl(240, 2%, 30%);
	--background-800: hsl(240, 2%, 20%);
	--background-900: hsl(240, 2%, 10%);
	--background-950: hsl(240, 4%, 5%);

	--primary-50: hsl(353, 31%, 95%);
	--primary-100: hsl(356, 33%, 90%);
	--primary-200: hsl(358, 31%, 80%);
	--primary-300: hsl(358, 32%, 70%);
	--primary-400: hsl(356, 32%, 60%);
	--primary-500: hsl(357, 32%, 50%);
	--primary-600: hsl(356, 32%, 40%);
	--primary-700: hsl(358, 32%, 30%);
	--primary-800: hsl(358, 31%, 20%);
	--primary-900: hsl(356, 33%, 10%);
	--primary-950: hsl(0, 31%, 5%);

	--secondary-50: hsl(0, 44%, 95%);
	--secondary-100: hsl(357, 45%, 90%);
	--secondary-200: hsl(357, 45%, 80%);
	--secondary-300: hsl(358, 45%, 70%);
	--secondary-400: hsl(358, 45%, 60%);
	--secondary-500: hsl(358, 45%, 50%);
	--secondary-600: hsl(358, 45%, 40%);
	--secondary-700: hsl(358, 45%, 30%);
	--secondary-800: hsl(357, 45%, 20%);
	--secondary-900: hsl(357, 45%, 10%);
	--secondary-950: hsl(0, 44%, 5%);

	--accent-50: hsl(0, 60%, 95%);
	--accent-100: hsl(358, 61%, 90%);
	--accent-200: hsl(359, 59%, 80%);
	--accent-300: hsl(359, 59%, 70%);
	--accent-400: hsl(359, 59%, 60%);
	--accent-500: hsl(359, 59%, 50%);
	--accent-600: hsl(359, 59%, 40%);
	--accent-700: hsl(359, 59%, 30%);
	--accent-800: hsl(359, 59%, 20%);
	--accent-900: hsl(358, 61%, 10%);
	--accent-950: hsl(0, 60%, 5%);

	--spacing-sm: 1rem;
	--spacing-md: 2rem;
	--spacing-lg: 4rem;
}

.home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 var(--spacing-md);
	background-color: var(--background-50);
	color: var(--text-900);
}

.hero {
	min-height: 100vh;
	display: flex;
	align-items:start;
	justify-content: center;
	text-align: center;
	padding: 2rem;
}

.hero-content {
	max-width: 800px;
}

.hero-title {
	font-size: 4rem;
	font-variant:normal;
	font-weight: 900;
	margin-bottom: var(--spacing-md);
	color: var(--secondary-500);
}

.hero-divider {
	color: var(--background-200);
	margin-bottom: 0;
	text-align: left;

}

.hero-subtitle {
	font-size: 1.5rem;
	color: var(--primary-600);
	text-align: left;
	margin-bottom: var(--spacing-md);
}

.hero-description {
	font-size: 1.2rem;
	color: var(--text-700);
	line-height: 1.8;
}

section {
	padding: var(--spacing-lg) 0;
}

h2 {
	font-size: 2.5rem;
	margin-bottom: var(--spacing-md);
	color: var(--primary-700);
}

.about {
	background-color: var(--background-100);
	padding: var(--spacing-lg) var(--spacing-md);
	margin: 0 calc(-1 * var(--spacing-md));
}

.about p {
	font-size: 1.1rem;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	color: var(--text-700);
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: var(--spacing-md);
	margin-top: var(--spacing-md);
}

.project-card {
	background: var(--background-100);
	padding: var(--spacing-md);
	border-radius: 8px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	border: 1px solid var(--background-200);
}

.project-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
	color: var(--accent-600);
	margin-bottom: var(--spacing-sm);
}

.project-card p {
	color: var(--text-600);
}

.contact {
	text-align: center;
	padding: var(--spacing-lg) 0;
	background-color: var(--background-100);
	margin: 0 calc(-1 * var(--spacing-md));
}

.contact h2 {
	color: var(--primary-700);
}

.contact p {
	color: var(--text-700);
}

@media (max-width: 768px) {
	.hero-title {
	font-size: 2.5rem;
	}
	
	.hero-subtitle {
	font-size: 1.2rem;
	}
	
	h2 {
	font-size: 2rem;
	}
	
	.project-grid {
	grid-template-columns: 1fr;
	}
}