.home {
	max-width: 1200px;
	margin: 0 auto;
	padding: var(--spacing-sm) var(--spacing-md);
	background-color: var(--background-50);
	color: var(--text-900);
}

.hero-title {
	font-size: 4rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	margin-bottom: var(--spacing-sm);
	color: var(--secondary-500);
}

.hero-subtitle {
	padding-top: 0.2rem;
	color: var(--text-900);
	border-top: 1px solid var(--text-200);
}
